@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600');

.layout {
  background-color: var(--gray-100);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-top: 15vh;
}

.card {
  margin: 0 auto;
  width: 420px;
}

.heading {
  font-family: 'Baloo Chettan 2', 'system-ui', sans-serif;
  text-align: center;
}

.imageBox {
  text-align: center;
  & img {
    width: 140px;
  }
}

.pinInput {
  width: 40px;
  height: 72px;
  font-size: 50px;
  text-align: center;
  padding: 0;
  --text-color: var(--gray-600);
}
