{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es2020": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    },
    "project": "tsconfig.json"
  },
  "plugins": ["prettier", "simple-import-sort"],
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": 0,
    "quotes": [
      1,
      "single",
      { "allowTemplateLiterals": true, "avoidEscape": true }
    ],
    "semi": [1, "always"],
    "max-lines": [1, { "max": 200 }],
    "max-params": [1, { "max": 5 }],
    "no-unneeded-ternary": [1],
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": "off",
    "simple-import-sort/sort": [
      "error",
      {
        "groups": [
          // Packages. `react` related packages come first.
          ["^react", "^@?\\w"],
          // Parent imports. Put `..` last.
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          // Other relative imports. Put same-folder imports and `.` last.
          ["^utils", "^lib", "^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          // Side effect imports.
          ["^\\u0000"]
        ]
      }
    ],
    "sort-imports": "off",
    "import/order": "off",
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaFeatures": { "jsx": true },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-unused-vars": "warn"
      }
    }
  ]
}
