@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600');

.root {
  width: 100vw;
  min-height: 100vh;
  font-weight: 400;
  line-height: 1.2;
  --text-size: 14px;
  --font-family: 'Baloo Chettan 2', 'system-ui', sans-serif;
  --brand-100: #f0abab;
  --brand-200: #ed9a9a;
  --brand-300: #ea8989;
  --brand-400: #e77978;
  --brand-500: #e46867;
  --brand-600: #e15756;
  --brand-700: #cb4e4d;
  --brand-800: #b44645;
  --brand-900: #9e3d3c;
  --brand-color: var(--brand-600);
}

.navLink {
  color: inherit;
}

.logo {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
}

.logoText {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: #000;
  color: var(--text-color);
}

.main {
  background: url('/sorting-thoughts.svg') no-repeat;
  background-size: contain;
  min-height: 50vh;
  margin-top: 5vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 570px;
  padding-bottom: 10vh;
}

.text {
  margin: 0;
  font-size: 36px;
  text-align: right;
  & strong {
    font-weight: 600;
    color: var(--brand-color);
  }
}

.form {
  --br-default: var(--br);
  margin: 16px 0 0;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  & > .input,
  & > .submitButton {
    transition: 0.2s ease-in-out;
    &:hover,
    &:focus,
    &:focus-within {
      z-index: 5;
    }
  }
}

.input {
  --border-color: transparent;
  --br: var(--br-default) 0 0 var(--br-default);
  all: unset;
  padding: 8px 16px;
  width: 300px;
  height: 100%;
}

.submitButton {
  --br: 0 var(--br-default) var(--br-default) 0;
  margin-left: -1px;
}
