@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600');

.root {
  --color-lite: rgba(225, 86, 86, 0.01);
  --color-stronger: rgba(225, 86, 86, 0.15);
  width: 100vw;
  min-height: 100vh;
  font-family: 'Baloo Chettan 2', 'system-ui', sans-serif;
  font-weight: 400;
  color: rgb(26, 32, 44);
  background: linear-gradient(
    to bottom,
    var(--color-lite) 40%,
    var(--color-stronger)
  );
  font-size: 14px;
  line-height: 1.2;
}

.header {
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 8px 24px;
}

.navLink {
  color: inherit;
}

.logo {
  height: 60px;
  margin-right: 16px;
}

.logoText {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: #000;
}

main.main {
  background: url('/sorting-thoughts.svg') no-repeat;
  background-size: contain;
  min-height: 50vh;
  margin-top: 5vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 60%;
  padding-bottom: 64px;
}

.text {
  margin: 0;
  font-size: 36px;
  text-align: right;
  & strong {
    font-weight: 600;
    color: var(--brand-color);
  }
}

.form {
  --br-default: var(--br);
  margin: 16px 0 0;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  & > .input,
  & > .submitButton {
    transition: 0.2s ease-in-out;
    &:hover,
    &:focus,
    &:focus-within {
      z-index: 5;
    }
  }
}

.input {
  --border-color: transparent;
  --br: var(--br-default) 0 0 var(--br-default);
  width: 300px;
}

.submitButton {
  --br: 0 var(--br-default) var(--br-default) 0;
  margin-left: -1px;
}
